.profile-info__edit-button {
    background-image: url(../../../../images/icons/edit-button.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: 2px;
    border-color: white;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .profile-info__edit-button {
        width: 30px;
        height: 30px;
    }
}