.popup__save-button {
    background-color: #000;
    width: 358px;
    font-size: 18px;
    line-height: 22px;
    color: var(--contrast-text-color);
    padding: 14px 125px 18px;
}

@media screen and (max-width: 767px) {
    .popup__save-button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 14px 0 18px;
    }
}